table, tr, td {
  border: 1px solid black;
  text-align:center;
  padding: 10px;
}

.money {
  text-align: right;
}

.items {
  text-align: left;
}

ul
{
    list-style-type: none;
}

#show-purchase {
  display: none;
}
 
.category {
  cursor: pointer;
  color: #0088cc;
}
 
.category:hover {
  text-decoration: underline;
}
